.main-layout{
  max-height: fit-content;
}
.game-container{
    display: block; 
    text-align: -webkit-center;
}

.wrapper{
  display: block; 
  max-width: 50%;
}

img {
  max-width:100%;
  animation-duration: 1.5s;
  animation-name: slidein;
  margin-left: 50%;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 50%;
    width: 100%;
  }
}