<div *ngFor="let row of rowsOfKeys" class="keyboard center-items">
    <span *ngFor="let key of row">
        <ng-container [ngSwitch]=isKeyUsed(key)>
        <button *ngSwitchCase=false
            (click)="virtualKeySubject.next(key)"
            class="btn btn-outline-primary">
            {{ key }}
        </button>
        <button *ngSwitchCase=true
            (click)="virtualKeySubject.next(key)"
            class="btn btn-success">
            {{ key }}
        </button>
        </ng-container>
    </span>
</div>