<div class="answer-container">
    <h3>Score: {{score}}
        <button class="btn info-button" (click)="openInfoDialog()">
            <i class="fa fa-question-circle fa-3x"></i>
        </button>
        
    </h3>
    <h4 *ngIf="!isShare">Guesses Remaining: {{4 - numOfTries}}</h4>
</div>
<div class="circle-container">
    <app-color-ball [hex]="correctHex"></app-color-ball>
</div>  
<div *ngIf="!isShare" class="input-container grid button-grid btn-group" role="group" aria-label="Three Column Button Matrix">
    <div *ngFor="let option of options">
        <button type="button" 
        class="btn3d btn-primary btn-lg" 
        [disabled]="disabledOptions.includes(option)"
        (click)="optionSelected(option)">{{option.name}}
    </button>
    </div>
</div>
<div *ngIf="isShare">
    <share-buttons theme= "circles-dark"
        [include]="['copy', 'facebook', 'email', 'messenger','sms','whatsapp']"
        url="https://fparkar95.github.io/"
        description="My score was {{score}} in Colorz!! Your turn to play!"
        class="pt-5">
    </share-buttons>
    <span>
        <button type="button" class="btn btn-success btn-lg" style="justify-self: center;" (click)="restart()">Play Again?</button>
    </span>
</div>
