<div class="answer-container">
    <h3>Score: {{score}}</h3>
    <h4 *ngIf="!isShare">Guesses Remaining in this Round: {{4 - numOfTries}}</h4>
</div>
<div *ngif="!isShare"class="instructions">
    <p>Attempt #1 = 5 points</p>
    <p>Attempt #2 = 2 points</p>
    <p>Attempt #3 = 1 point</p>
</div>  
<div class="circle-container">
    <app-color-circle [hex]="correctHex"></app-color-circle>
</div>  
<div *ngIf="!isShare" class="input-container grid button-grid btn-group" role="group" aria-label="Three Column Button Matrix">
    <div *ngFor="let option of options">
        <button type="button" 
        class="btn btn-outline-primary btn-lg" 
        [disabled]="disabledOptions.includes(option)"
        (click)="optionSelected(option)">{{option.name}}
    </button>
    </div>
</div>
<div *ngIf="isShare">
    <share-buttons theme= "circles-dark"
        [include]="['copy', 'facebook', 'email', 'messenger','sms','whatsapp']"
        url="https://fparkar95.github.io/"
        description="My score was {{score}} in Colorz!! Your turn to play!"
        class="pt-5">
    </share-buttons>
    <span>
        <button type="button" class="btn btn-success btn-lg" style="justify-self: center;" (click)="restart()">Play Again?</button>
    </span>
</div>
