.grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.info-button{
    padding: 10px;
    margin-left: 2%;
    border-radius: 60%;
    border-color: black;
    border: solid;
}
.circle-container{
    display: flex;
    max-width: fit-content;
}

.answer-container{
    margin-top: -5%;
}

p{
    font-family: monospace;
}
  
.button-grid {
    margin-top: 5%;
    padding: 10px;
    justify-items: center;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: red;
  color: white;
}

.input-container {
    margin-top: 5%;
    align-content: center;
}

.instructions {
    line-height: 10px;
    padding-top: 1%;
}
